.MyArticle h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-my {
  padding: 4px;
  margin-left: 50px;
  margin-right: 50px;
}

.c345 {
  border: 2px solid #eb2f06;
  padding: 15px;
  margin: 6px;
  display: flex;
  justify-content: space-between;
}

.c345 img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.time {
  font-size: 11px;
}

.favorite-count {
  display: flex;
  align-items: center;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  width: 45px;
  color: #fff;
  border-radius: 5px;
}

.heart-icon {
  color: red;
  margin-left: 5px;
}

.manage {
  padding: 5px;
  font-size: 22px;
}

.delete {
  color: #eb2f06;
}

.edit {
  color: green;
}

.MyArticle {
  margin-top: 30px;
}
